###########################################
################ Elastic ##################
###########################################

ES_ENDPOINT=${ES_ENDPOINT}
ES_USERNAME=${ES_USERNAME}
ES_PASSWORD=${ES_PASSWORD}
