###########################################
################ General ##################
###########################################

APP_NAME=app-name
DISPLAY_COUNT=10

DATA_STREAM_ENABLED=true

TRANSFORM_ENABLED=true
TRANSFORM_FREQUENCY=1s
TRANSFORM_DELAY=1s
