###########################################
################ Provider #################
###########################################

########## AWS ##########

#AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
#AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>

######### Azure #########

#ARM_SUBSCRIPTION_ID=<ARM_SUBSCRIPTION_ID>
#ARM_TENANT_ID=<ARM_TENANT_ID>
#ARM_CLIENT_ID=<ARM_CLIENT_ID>
#ARM_RESOURCE_GROUP=<ARM_RESOURCE_GROUP>

###### Google Cloud #####

#GOOGLE_CLOUD_KEYFILE_JSON=<GOOGLE_CLOUD_KEYFILE_JSON>
#GOOGLE_CLOUD_PROJECT=<GOOGLE_CLOUD_PROJECT>
